.inventoryNavContainer {
  width: 400px;
  height: 100%;
  padding-top: 3rem;
}

.inventoryNav {
  width: 310px;
  padding: 0.5rem;
  background-color: rgb(0, 11, 110);
  border-radius: 15px;
}

.inventoryNavButton {
  width: 100%;
  height: 60px;
  padding: 1rem;
  align-items: center;
  display: flex;
  border: 0;
  gap: 1rem;
  background-color: transparent;
  cursor: pointer;
  margin-top: 10PX;
}

.inventoryNavtitile {
  width: 100%;
  height: 55px;
  padding: 1rem;
  align-items: center;
  display: flex;
  border: 0;
  gap: 1rem;
  background-color: transparent;
}

.buttonIcon {
  width: 30px;
  height: 30px;
}

.buttonTitle {
  font-size: 25px;
  color: white;
  font-weight: 800;
}

.inventoryNavButton:hover {
  background: #e2e2e2cd;
  border-radius: 10px;
}

.inventoryNavButton:hover .buttonTitle {
  color: rgba(17, 15, 15, 0.869);
}

.inventoryNavButton:hover path {
  fill: rgba(17, 15, 15, 0.869);
}

.dot {
  position: absolute;
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: 6px;
  right: 6px;
}

.underLine {
  width: 100%;
  height: 2px;
  background-color: rgb(105, 105, 105);
  border: 0;  
  margin-top: 1rem;
}

.titieBottom {
  margin-top: 1rem;
}