.customize {
  width: 100%;
  height: 100%;
}

@media (min-width: 866px) {
  main {
    justify-content: center;
  }
}

.customizeBody {
  width: 100%;
  height: 100%;
}
.cardRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name {
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: cursive;
  width: 160px;
  margin-top: 10px;
  margin-left: 20px;
}
.card {
  margin: 10px;
  width: 100%;
  height: 244px;
}
.newCourses {
  width: 100%;
}

.buttonCSS {
  position: relative;
  width: 165px;
  height: 134px;
  border: none;
  outline: none;
  clip-path: inset(0);
  transition: clip-path 150ms linear;
  cursor: pointer;
}

.buttonCSS1 {
  position: relative;
  margin: 20px;
  width: 80px;
  height: 75px;
  border: none;
  outline: none;
  clip-path: inset(0);
  transition: clip-path 150ms linear;
  cursor: pointer;
}

.cardText {
  font-size: 30px;
  color: white;
  margin: 10px;
  font-family: cursive;
}

.buttonColor {
  color: black;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.04);
}

.vignetteBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(0, 166, 255), rgb(34, 51, 216));
}

.vignetteYellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(211, 186, 41), rgb(245, 168, 3));
}

.host {
  --color-dark: 173, 104, 18;
  --color-medium: 244, 203, 76;
  --color-light: 252, 214, 82;
  --color-subtext: 255, 209, 49;
}

.scrollingBg {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 400%;
  height: 400%;
  background: url(https://arcarr.com/assets/images/post4/background.svg);
  background-size: 100px;
  animation: 50s infinite infinite-scroll;
  animation-timing-function: linear;
}

.radialGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(0, 166, 255, 1) 45%,
    rgba(0, 166, 255, 0.5) 75%,
    rgba(34, 51, 216, 0) 100%
  );
}

.radialGradientYellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgb(255, 174, 0) 45%,
    rgba(255, 166, 0, 0.5) 75%,
    rgba(216, 198, 34, 0) 100%
  );
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgb(255, 255, 255), rgb(245, 239, 219));
  opacity: 0;
}

.bottomGradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(34, 51, 216, 1) 0%,
    rgba(34, 51, 216, 0.738) 19%,
    rgba(34, 51, 216, 0.541) 34%,
    rgba(34, 51, 216, 0.382) 47%,
    rgba(34, 51, 216, 0.278) 56.5%,
    rgba(34, 51, 216, 0.194) 65%,
    rgba(34, 51, 216, 0.126) 73%,
    rgba(34, 51, 216, 0.075) 80.2%,
    rgba(34, 51, 216, 0.042) 86.1%,
    rgba(34, 51, 216, 0.021) 91%,
    rgba(34, 51, 216, 0.008) 95.2%,
    rgba(34, 51, 216, 0.002) 98.2%,
    rgba(34, 51, 216, 0) 100%
  );
  transform: translateY(25%);
  transition: transform 150ms ease-out;
}

.bottomYellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(216, 134, 34) 0%,
    rgba(216, 134, 34, 0.738) 19%,
    rgba(216, 134, 34, 0.541) 34%,
    rgba(216, 134, 34, 0.382) 47%,
    rgba(216, 134, 34, 0.278) 56.5%,
    rgba(216, 134, 34, 0.194) 65%,
    rgba(216, 134, 34, 0.126) 73%,
    rgba(216, 134, 34, 0.075) 80.2%,
    rgba(216, 134, 34, 0.042) 86.1%,
    rgba(216, 134, 34, 0.021) 91%,
    rgba(216, 134, 34, 0.008) 95.2%,
    rgba(216, 134, 34, 0.002) 98.2%,
    rgba(216, 134, 34, 0) 100%
  );
  transform: translateY(25%);
  transition: transform 150ms ease-out;
}

.textWrapper--secondary {
  flex-direction: column-reverse;
  left: 9%;
  bottom: 11%;
}

.textWrapper {
  position: absolute;
  bottom: 5%;
  left: 8.25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: cursive;
  text-transform: uppercase;
  transition: transform 150ms ease-out;
  z-index: 100;
}

.text--secondary {
  font-size: 1.7rem;
  margin: 0.25rem 0 0 0;
  letter-spacing: 0.1rem;
}
.text {
  color: white;
  font: small-caps bold 24px/1 sans-serif;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0 0 0;
  font-family: sans-serif;
}

.subtext--secondary {
  font-size: 1.1rem;
}

.subtext {
  color: rgb(41, 219, 255);
  font: italic small-caps bold 16px/2 cursive;
  letter-spacing: 0.1rem;
  margin: 0.25rem 0 0 0;
  font-weight: 900;
  font-family: sans-serif;
}

.bar--secondary {
  bottom: -2rem;
}

.bar {
  position: absolute;
  bottom: -2.3rem;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: white;
  transform: skew(0deg, -2deg) translateY(3rem);
  transition: transform 150ms ease-out;
}

.buttonCSS:hover,
.buttonCSS:focus {
  clip-path: inset(-4% -4% -4% -4%);
  border: 0px;
}

.buttonCSS:hover > * > .bottomGradient,
.buttonCSS:focus > * > .bottomGradient {
  transform: translateY(35%);
}

.buttonCSS:hover > * > .textWrapper,
.buttonCSS:focus > * > .textWrapper {
  transform: skew(0deg, -2deg) translateY(-1rem);
}

.buttonCSS:hover > * > .bar,
.buttonCSS:focus > * > .bar {
  transform: skew(0deg, -2deg) translateY(0);
}

@keyframes infinite-scroll {
  from {
    transform: rotate(15deg) translateX(0px);
  }

  to {
    transform: rotate(15deg) translateX(-100px);
  }
}

.image {
  top: 2%;
  left: 5%;
  width: 90%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
}

.buttonCSS:hover > * > .image,
.buttonCSS:focus > * > .image {
  transform: scale(1.1);
}
.buttons {
  width: 345px;
  height: 166px;
}
.bigButton {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff32 19%, #c0c7ff 100%);
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonSize {
  width: 755px;
  height: 390px;
}

.customizButton {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.bigCard {
  margin: 10px;
  width: 300px;
  height: 390px;
}
.smallCards {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.smallCard {
  height: 185px;
  width: 240px;
}

.smallButton {
  position: absolute;
  width: 196px;
  height: 52px;
  bottom: 1rem;
  background: linear-gradient(to right, #faff00 10%, #ffa600 100%);
  border-radius: 10px;
  font-family: cursive;
  font-size: 20px;
  font-weight: 800;
  border: 0px;
  left: 20%;
  cursor: pointer;
}

.bigButton:hover {
  border: 4px solid rgba(0, 0, 255, 0.43);
}

.smallButton:hover {
  border: 4px solid rgba(15, 18, 176, 0.804);
}
.sliderBar {
  height: 20px;
  width: 250px;
  border-radius: 10px;
  margin-top: 15px;
  background: linear-gradient(to right, #ffe600c0, #ff9900);
}

.cardRows {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.barWidth {
  width: 120px;
}

.buttonCSS:hover .flash {
  animation-name: flashAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes flashAnimation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
